/.idea/
**/.fuse_hidden*

**/vendor/
**/node_modules/
**/var/
**/.phpunit.cache/

/frontend/dist/
/frontend/dist-ssr/
/frontend/.vite/
/frontend/.env
/frontend/.env.*
!/frontend/.env.example
/frontend/IDENTIFIANTS_TEST.md

/backend/.env
/backend/.env.dev
/backend/.env.prod
/backend/.env.test
/backend/.env.local
/backend/.env.*.local
/backend/.env.test_cached
!/backend/.env.example
!/backend/.env.test.example
/backend/private/
/backend/public/assets/
/backend/public/build/
/backend/public/bundles/
/backend/config/jwt/*.pem
/backend/config/encryption/*.key
/backend/config/tenants.json
!/backend/config/tenants.example.json

/.DS_Store
/Thumbs.db
